<% content_for :title, "Baseball Scoreboards" %>
<h2>Avoiding the design rut with <span class="no-break"><strong>HTML and CSS-only</strong> art.</span></h2>
<p>
  I try to avoid getting too repetitive with design by doing different things with the same tools.
</p>
<p>
  <strong>Example:</strong> In 2023, I decided to merge my childhood love of baseball with my grown up love of code. 
  Given all the toys CSS provides today, could I make realistic looking baseball-themed pieces with nothing but markup and styles?
</p>
<p>
  Referencing old photographs, I replicated two classic baseball scoreboards
  with this rule: <strong>No images. No Javascript. Just pure HTML and CSS.</strong>
</p>
<div class="figure-container">
  <figure>
    <%= link_to image_tag("scoreboards-1.webp", alt: "A screenshot of Wrigley Field, 1941"), "https://kawaicheung.io/scoreboards/wrigley-1941.html", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>Wrigley Field, 1941</strong>: I played with <span class="code">perspective</span> and 
      geeked out on CSS animations 
      to mimic time: The rain drops, darkening skies, 
      clock hands, waving flags, and casted shadows.</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/wrigley-1941.html", text: "View the scoreboard" %>
    </figcaption>
  </figure>
    <figure>
    <%= link_to image_tag("scoreboards-2.webp", alt: "A screenshot of Comiskey Park, 1978"), "https://kawaicheung.io/scoreboards/comiskey-1978.html", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>Comiskey Park, 1978</strong>:  I went overboard on CSS grid. Every light bulb is a <span class="code">div</span>, turned on with the class <span class="code">lit</span>. 
      It was fun to turn on each bulb individually, and leave an 
      occasional one burnt out.</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/comiskey-1978.html", text: "View the scoreboard" %>  
    </figcaption>
  </figure>
</div>
<p>
  Here's a final sentimental piece: The original two tickets from my first Cubs game (I still have them!). 
</p>
<div class="figure-container smaller">
  <figure>
    <%= link_to image_tag("bb-tickets.webp", alt: "A screenshot of two tickets from the first Cubs game I attended"), "https://kawaicheung.io/scoreboards/two-for-friday.html", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>Imperfect game</strong>: I had a blast replicating the imperfections of physical tickets. 
      The Cubs logo off-centered one pixel up and to the left of the white background. The perforations of the 
      edges using a <span class="code">dotted 1px white</span> border. The tiniest drop of 
      <span class="code">blur</span> on the monospace font to make it look printed on.
      Oh, and the Cubs won 15-2 that day.</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/two-for-friday.html", text: "View the tickets" %>
    </figcaption>
  </figure>
</div>
<hr>
<p>
  Using HTML and CSS in a different context gave me a broader perspective on how I can use these tools. 
  We don't always need to rely on imagery or scripting for the fancy stuff.
</p>
<p class="note"><strong>Note:</strong> The CSS could be reduced and DRYed up a bit, 
but my focus for these projects was to expand my comfort with CSS, not on absolutely pristine code.
Ya know, in case you're viewing source 🙂.
</p>
<p>
  What relevance does this have with product design? Simple.
  If Basecamp ever needed an old-timey scoreboard view, I'm your guy.
</p>
