<% content_for :title, "Writing and speaking" %>
<h2>Things written and spoken.</h2>
<p>
  I love that good communication is a core strength of every 37signals hire. 
  Though I wasn't forward-thinking enough to keep an archive of my
  most epic emails and Basecamp Classic threads, here are a few things I've written, spoken, and illustrated.
</p>
<hr>
<h3><strong>Real Code Series:</strong> Talking through my design and development thought-process</h3>
<p>
  While writing is the communication form I've spent the most time practicing, occasionally, I like to 
  explain things in front of a camera. Here are three videos from a series I produced on DoneDone called 
  &ldquo;Real Code&rdquo; that go into small details of my UI, UX, and development thought-process.
</p>
<div class="figure-container three-fan">
  <figure>
    <%= link_to "https://www.youtube.com/watch?v=PNnenqznRD4", target: "_blank", class: "video-thumbnail" do %>
      <%= image_tag "realcode-1.png", alt: "Video thumbnail for 'Less words, more meaning'" %>
    <% end %>
    <figcaption>
      <span>A video on reducing words while increasing comprehension in UI.</span>
    </figcaption>
  </figure>
  <figure>
    <%= link_to "https://www.youtube.com/watch?v=amUCxkcRhVo", target: "_blank", class: "video-thumbnail" do %>
      <%= image_tag "realcode-2.png", alt: "Video thumbnail for 'Improving UX by omission'" %>
    <% end %>
    <figcaption>
      <span>How I think through implementation tradeoffs in design.</span>
    </figcaption>
  </figure>
  <figure>
    <%= link_to "https://www.youtube.com/watch?v=pJ9TiCs0TSQ", target: "_blank", class: "video-thumbnail" do %>
      <%= image_tag "realcode-3.png", alt: "Video thumbnail for 'Handling responses optimistically'" %>
    <% end %>
    <figcaption>
      <span>A simple approach to snappier, more immediate responses in UX.</span>
    </figcaption>
  </figure>
</div>
<%= render "shared/external_link_button", path: "https://www.youtube.com/playlist?list=PL_0hiGP3NeojDxJILYeLILioIYwIvDWH6", text: "See all 9 Real Code videos" %>
<hr>
<h3><strong>The Developer&rsquo;s Code:</strong> A book on developer life</h3>
<p>
  I love the idea of &ldquo;selling your by-products.&rdquo; Thanks Rework!
</p>
<div class="book-view">
  <figure>
    <%= image_tag "tdc-1.png", alt: "The Developer's Code book website" %>
    <figcaption>
      <span><strong>Mark(eting) my words</strong>: I designed this one-pager to accompany the published book. It's long gone now but still lives in the annals of the Wayback Machine.</span>
      <%= render "shared/external_link_button", path: "https://web.archive.org/web/20120108043147/http://www.thedeveloperscode.com/", text: "See the archived site!" %>
    </figcaption>
  </figure>
  <div class="meta-info">
    <p>
      About 15 years ago, I curated a number of blog posts I had written over the prior decade and created a 
      web-based book about the life of a software developer. (Apparently, I love making web-based books!)
      I shopped it around for a year until the Pragmatic Bookshelf took a chance on it. It was published in 2012. 
    </p>
    <p>A few chapters from the book:</p>
    <ul>
      <li>  
        <%= link_to "https://media.pragprog.com/titles/kcdc/intro.pdf", target: "_blank" do %>
          <i class="far fa-file-pdf"></i> 
          <span>Introduction</span>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://media.pragprog.com/titles/kcdc/ivory.pdf", target: "_blank" do %>
          <i class="far fa-file-pdf"></i> 
          <span>The “Ivory Tower” Architect</span>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </li>
      <li>
        <%= link_to "https://media.pragprog.com/titles/kcdc/simplicity.pdf", target: "_blank" do %>
          <i class="far fa-file-pdf"></i> 
          <span>The Simplicity Paradox</span>
          <i class="fas fa-external-link-alt"></i>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<hr>
<h3><strong>Word flight:</strong> Curating my favorite writing samples</h3>
<p>
  While I mainly write about design and development, I've also written about other topics&mdash;
  fatherhood, sports, domestic life to name a few. I've pulled out a few of my favorites from my 
  <%= link_to "complete list of 100+ blogs and essays.", "https://www.kawaicheung.io/essays", target: "_blank" %>
</p>
<p><strong>Three essays about design and development:</strong></p>
<ol class="essays-list">
  <li>
    <%= link_to "https://medium.com/on-building-software/code-as-the-design-medium-4d83e03d422a", target: "_blank" do %>
      <span>On my design process using code as the medium</span>
    <% end %>
  </li> 
  <li>
    <%= link_to "https://medium.com/on-building-software/how-i-build-software-like-a-musician-60e0b81c3af4", target: "_blank" do %>
      <span>On comparing a software designer to a musician</span>
    <% end %>
  </li>
  <li>
    <%= link_to "https://medium.com/@kawai-cheung/a-fast-code-culture-5f8f9ce4085c", target: "_blank" do %>
      <span>On the good and bad side of coding bootcamps (from 2014)</span>
    <% end %>
  </li> 
</ol>
<p><strong>Three essays not about design nor development.</strong> 
  The latter two showcase some of my own drawings, which I occasionally 
  do with an Apple Pencil on my daughter's iPad when she's at school.
</p>
<ol class="essays-list">
  <li>
    <%= link_to "https://medium.com/panko-crusted-anything/at-the-pivotal-age-of-almost-eight-7fcec2583526", target: "_blank" do %>
      <span>On the satisfaction of watching your kids get better than you</span>
    <% end %>
  </li> 
  <li>
    <%= link_to "https://medium.com/panko-crusted-anything/how-to-cut-a-watermelon-so-you-can-store-the-rest-in-the-fridge-3b4cbaaa2da8", target: "_blank" do %>
      <span>On cutting a watermelon so you can store the rest in the fridge</span>
    <% end %>
  </li> 
  <li>
    <%= link_to "https://medium.com/panko-crusted-anything/sweeping-up-all-the-loose-vegetables-with-the-red-sauce-8c5a6690a64b", target: "_blank" do %>
      <span>On making a red sauce</span>
    <% end %>
  </li>
</ol>
<hr>
<h3>One last piece on my web design career.</h3>
<p>
  I'll end this section with this. Last year, I wrote a longer nostalgia piece about digging up all my past web work on the Wayback Machine. 
  I was writing it to no one but myself. But much to my surprise, it became a &ldquo;staff pick&rdquo; on Medium. You may get a nostalgia kick too!
</p>
<div class="figure-container smallest">
  <figure>
    <%= link_to "https://medium.com/on-building-software/my-25-year-career-in-web-design-through-the-eyes-of-the-wayback-machine-4e37f3ec94d8", target: "_blank", class: "link-thumbnail" do %>
      <%= image_tag "medium-25-years.png", alt: "Screenshot of my 25-year web design career post on Medium." %>
    <% end %>
    <figcaption>
      <%= render "shared/external_link_button", path: "https://medium.com/on-building-software/my-25-year-career-in-web-design-through-the-eyes-of-the-wayback-machine-4e37f3ec94d8", text: "Read my web design post" %>  
    </figcaption>
  </figure>
</div>
<hr>
<p>
  I hope what I've shared on these pages gives you a good sense of my work, joy for the craft,
  sense of aesthetics, thought-process, and excitement about this position at 37signals.
</p>



