<% content_for :title, "DnsDigest" %>
<h2>Giving hope to struggling <strong>DNS record</strong> managers.</h2>
<p>
  One joy of designing is to make confusing concepts more approachable. And what's more confusing than an 
  unorganized laundry list of DNS records&mdash;the same ones that control everything about how your domain 
  name works? 
</p>
<p>
  The answer to that question became the inspiration behind <%= link_to "DnsDigest", "https://dnsdigest.com", target: "_blank" %>, 
  a Rails app I created and released this past January. It converts your DNS records to an organized 
  report and detects any potential issues with your records. 
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "dnsdigest-hero.png", alt: "A screenshot of the DnsDigest hero area." %>
    <figcaption><span><strong>Speaking bluntly:</strong> I got a kick out of writing this marketing page tagline, getting to the heart of the pain I feel with DNS.</span></figcaption>
  </figure>
  <figure>
    <%= image_tag "dnsdigest-bubbles.png", alt: "A screenshot of animated bubble quotes from DnsDigest." %>
    <figcaption><span><strong>Before and after:</strong> A CSS-animated callout showing the benefits of using DnsDigest.</span></figcaption>
  </figure>
</div>
<%= render "shared/external_link_button", path: "https://dnsdigest.com", text: "Visit the DNS digest site" %>
<hr>
<h3>An early homepage alternative</h3>
<p>
  My original idea for DnsDigest was to have it scan DNS records for any domain name you entered. 
  I built this HTML-and-CSS only homepage as a postcard, where you could just type in your domain name and go. 
  I scratched this approach due to some technical limitations but thought it was fun to share.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "early-better-dns.png", alt: "A screenshot of an early version of the DNS digest homepage." %>
     <figcaption><span><strong>Postcard version:</strong> An early, quite different approach to the homepage. 
     This was done in HTML and CSS only, using radial and linear gradients to mimic a stamped ink effect.</span></figcaption>
  </figure>
</div>
<hr>
<h3>The Dashboard</h3>
<p>
  Inside the app, I wanted the first look of your DNS zone file to feel entirely different from 
  the laundry list you'd expect. Instead, I consolidated records together into more meaningful 
  groupings, which became the front doors to each of the more detailed sub-sections.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "dnsdigest-dashboard.webm" %>
  </figure>
</div>
<hr>
<h3>Playing with metaphors</h3>
<p>
  So much of DNS is about routing and destinations. This project seemed like a great place to play with metaphors
  so DNS newbies could grasp concepts more quickly.
</p>
<div class="figure-container smaller">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "dnsdigest-mx.webm" %>
    <figcaption>
      <span><strong>SMTP &rarr; IMAP:</strong> Rather than seeing a 
      typical list of <span class="dns-label">MX</span> records, I show how they group together
      by priority and what services these emails point to in the design of airline tickets.
      </span>
    </figcaption>
  </figure>
</div>
<div class="figure-container smaller">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "dnsdigest-mappings.webm" %>
    <figcaption>
      <span>
        <strong>DNS express:</strong> 
        In a more subtle nudge, with <span class="dns-label">A</span>, <span class="dns-label">AAAA</span> , 
        and <span class="dns-label">CNAME</span> records,
        I display how they map to IP addresses in a format similar to a destination board you would 
        see at a train station. Users can also add notes to records to help them remember what they mean.
      </span>
    </figcaption>
  </figure>
</div>
<hr>
<h3>Explaining email deliverability</h3>
<p>
  For <span class="dns-label">SPF</span> and <span class="dns-label">DMARC</span> records, I show 
  how to interpret their <span class="dns-label">TXT</span> values. I also built an SPF lookup crawler
  that counts unique lookups to determine if they are over the recommended 10 maximum lookup limit.
</p>
<div class="figure-container smaller">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "dnsdigest-spf.webm" %>
  </figure>
</div>
<hr>
<h3>Diagnostics view</h3>
<p>
  I created a Diagnostics view that evaluates
  your records based on a series of checks. Using Stimulus, clicking a row triggers a 
  modal via a Turbo frame replacement to show more details about the diagnostic check.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "dnsdigest-diagnostics.webm" %>
  </figure>
</div>
<hr>
<h3>Back-office love</h3>
<p>
  I always die a little inside when I see a beautiful app that has a clunky, ugly admin interface. I enjoy 
  attending to the back-office just as much as the customer-facing side. 
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "dnsdigest-admin-1.png", alt: "Screenshot of the DnsDigest admin interface." %>
  </figure>
  <figure>
    <%= image_tag "dnsdigest-admin-2.png", alt: "Another screenshot of the DnsDigest admin interface." %>
  </figure>
</div>
<hr>
<p>
  By the way, everything I've showed above (besides the admin) can be viewed in a sample DNS digest 
  that's linked below. I hope you'll take a look.
</p>
<%= render "shared/external_link_button", path: "https://dnsdigest.com/sample", text: "Play with a sample DNS digest" %>
