<h2>Making <strong>DNS management</strong> at least mildly enjoyable.</h2>
<p>
  After 20+ years of working in C# and .NET MVC, I finally dove into Rails last year.
  I spent a few months building a side project so I could produce something real.
</p>
<div class="figure-container off-white">
  <figure>
    <%= image_tag "dnsdigest-hero.png", alt: "Stretching" %>
    <figcaption><span><strong>Speaking bluntly:</strong> The tagline is exactly the thing I wanted a DNS expert to tell me a few years ago.</span></figcaption>
  </figure>

  <figure>
    <%= video_tag "dnsdigest-bubbles.mov", autoplay: true, loop: true, muted: true %>
    <figcaption><span><strong>Before and after:</strong> An animated bubble quote area demonstrating the benefits of using DnsDigest.</span></figcaption>
  </figure>
</div>
<p>
  I love making confusing ideas approachable. One thing that I've always struggled with is understanding DNS. 
</p>
<p class="note">
  <strong>The Rails ramp-up:</strong> MVC has always been second nature to me and Active Record is an ORM
  that has all the sensibilities I would want coming from using other ORMs for so many years. I'm learning
  the conventions as I need them and would be hungry to learn more from both the designers and 
  programmers at 37signals.
</p>
<p>
  I don’t mean the picture of servers and clouds and dotted lines. I mean understanding what a 
  <span class="dns-label">DMARC</span> record does and how it works with 
  <span class="dns-label">DKIM</span> and <span class="dns-label">SPF</span>. 
  I mean seeing all of your <span class="dns-label">A</span>, <span class="dns-label">AAAA</span>, 
  and <span class="dns-label">CNAME</span> mapping records grouped in one cohesive screen. 
  I mean adding a note so you remember what that random <span class="dns-label">TXT</span> 
  record Google asked you to add was even intended for. 
</p>
<p>
  The end result is DnsDigest. You can import your DNS records from common providers like Cloudflare and AWS and instantly see an organized, well-written report.
  I released it this past January. It's a simple tool that allows you to see your DNS records in a beautiful, easy-to-understand format.
</p>
<div class="figure-container">
  <figure>
    <%= video_tag "dnsdigest-bubbles.mov", autoplay: true, loop: true, muted: true %>
    <figcaption><span><strong>Before and after:</strong> An animated bubble quote area demonstrating the benefits of using DnsDigest.</span></figcaption>
  </figure>
</div>

<%= render "shared/external_link_button", path: "https://dnsdigest.com/sample", text: "See a sample DNS digest" %>
<div class="figure-container smaller">
  <figure>
    <%= image_tag "dnsdigest-screen-mappings.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>

  <figure>
    <%= image_tag "dnsdigest-screen-mx.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>
<div class="figure-container smaller">
  <figure>
    <%= image_tag "dnsdigest-screen-spf.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>

  <figure>
    <%= image_tag "dnsdigest-screen-dmarc.png", alt: "Stretching" %>
    <figcaption>Or, everything you do ends up kind of feeling like you? It's that feeling of a band past its prime churning out what sounds like them. The innovation is gone.</figcaption>
  </figure>
</div>

</div>
