<h2>Giving hope to struggling <strong>DNS record maintainers</strong>.</h2>
<p>
  I love making confusing concepts more approachable. And what's more confusing than a laundry
  list of unorganized, random DNS records&hellip;the same ones that control everything about how your domain 
  name works? 
</p>
<p>
  The answer to that question became the inspiration behind <%= link_to "DnsDigest", "https://dnsdigest.com", target: "_blank" %>, 
  a Rails app I released this past January. It allows you to import your DNS records from Cloudflare, AWS, or Name.com to instantly view 
  an organized, well-written report. 
</p>
<div class="figure-container off-white">
  <figure>
    <%= image_tag "dnsdigest-hero.png", alt: "Stretching" %>
    <figcaption><span><strong>Speaking bluntly:</strong> The tagline is exactly the thing I wanted a DNS expert to tell me a few years ago.</span></figcaption>
  </figure>
</div>
<div class="figure-container">
  <figure>
    <%= video_tag "dnsdigest-bubbles.mov", autoplay: true, loop: true, muted: true %>
    <figcaption><span><strong>Before and after:</strong> An animated bubble quote area demonstrating the benefits of using DnsDigest.</span></figcaption>
  </figure>
</div>

<h3>Playing with metaphors</h3>
<p>
  DnsDigest felt like a perfect place to play with metaphor in design. Rather than seeing a 
  typical list of <span class="dns-label">MX</span> records, I show how they group together
  by priority what services these emails point to. The
  metaphor of an airline ticket made too much sense to pass up.
</p>
<p>
  Similarly, with <span class="dns-label">A</span>, <span class="dns-label">AAAA</span> , 
  and <span class="dns-label">CNAME</span> records,
  I display how they map to IP addresses in a format similar to a destination board you would 
  see at a train station.
</p>
<div class="figure-container">
  <figure>
    <%= video_tag "dnsdigest-mx.mov", autoplay: true, loop: true, muted: true %>
    <figcaption>
      <span>
        <strong>MX records:</strong> Modeled as airline tickets.
      </span>
    </figcaption>
  </figure>
  <figure>
    <%= video_tag "dnsdigest-mappings.mov", autoplay: true, loop: true, muted: true %>
    <figcaption>
      <span>
        <strong>Mapping records:</strong> Modeled as a train schedule board.
      </span>
    </figcaption>
  </figure>
</div>
<h3>Turning DMARC and SPF records into something readable</h3>
<p>
sdasdf
</p>

<%= render "shared/external_link_button", path: "https://dnsdigest.com/sample", text: "See a sample DNS digest" %>

<p>
  This was my first full Rails project after 20+ years of working in C# and .NET MVC.
  I spent a few months building a side project so I could produce something real.
</p>
<p class="note">
  <strong>Running on Rails:</strong> The ramp-up has been really quick (thanks DHH and crew!). MVC is second nature to me and Active Record  
  has all the sensibilities I would want coming from using other ORMs. I'm learning
  the conventions as I need them, and am hungry to learn more from both the designers and 
  programmers at 37signals.
</p>