<% content_for :title, "DoneDone" %>
<h2>Making <strong>&ldquo;getting things done&rdquo;</strong> easier to do for 15 years.</h2>
<p>
  The landscape for issue trackers in 2008 was pretty barren. What was there was complex and clunky. 
  So began my 15-year journey into creating, building, and maintaining <strong>DoneDone</strong>. 
  It's my career pride and joy. I've learned so much about all of development from it.
</p>
<p>
  On this page, I'll show you a high-level assortment of the work I did. 
  On the next one, a deep dive into one particular feature.
</p>
<hr>
<h3>Marketing Site 1.0 and 5.0</h3>
<p>
  DoneDone's marketing site has gone through about five major redesigns over the years.
  It just so happens that I created the original site's design and copy as well as the last one, before we sold the company last year.
</p>
<div class="figure-container">
  <figure>
    <%= link_to image_tag("dd-og-site.png", alt: "A screenshot of the original DoneDone marketing site"), "https://web.archive.org/web/20100927203150/http://www.getdonedone.com/index.aspx", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2009:</strong> The writing focused on what other issue trackers didn't seem to answer...what happens next?</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/wrigley-1941.html", text: "View the Wayback Machine site" %>
    </figcaption>
  </figure>
    <figure>
    <%= link_to image_tag("dd-2024-site.png", alt: "A screenshot of the 2024 DoneDone marketing site"), "https://web.archive.org/web/20250207070508/https://www.donedone.com/", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2024:</strong> The writing focused on how task tracking and a shared inbox can be an all-in-one work solution.</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/comiskey-1978.html", text: "View the Wayback Machine site" %>  
    </figcaption>
  </figure>
</div>
<p class="note">
  <strong>Important note:</strong> If you go to <%= link_to "DoneDone.com", "https://www.donedone.com/", target: "_blank" %> now, you'll see a 
  version of the marketing site created by the new owners of the product. That is not my work.
</p>
<hr>
<h3>A Kanban board in 6 weeks</h3>
<p>
  One of the wonderful benefits of working on the same product for so long is familiarity. 
  With the product. The code. Your teammates.
  It means you can go very fast. With my business partner's help in direction and QA, I 
  shipped the full Kanban board in about 6 weeks.
</p>
<div class="figure-container smaller">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "donedone-kanban-0.webm" %>
    <figcaption>
      <span><strong>A single mind on a single thing for a long time is a powerful force:</strong> 
      I didn't use Shape Up, but the full Kanban board was started and completed in about 6 weeks. 
      I can work at a very fast clip when the goal is clear.
      </span>
    </figcaption>
  </figure>
</div>
<div class="figure-container smaller">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "donedone-kanban-1.webm" %>
    <figcaption>
      <span><strong>UX is in the tiny details:</strong> 
      When the "New task" panel is visible, you can click outside of it to close it. However, once
      you've entered content, the panel will stay open, preventing annoying accidental closures.
      </span>
    </figcaption>
  </figure>
</div>
<hr>
<h3>Re-envisioning the concept of workflows</h3>
<hr>