<% content_for :title, "Once an avid Flash developer." %>
<h2>Making <strong>&ldquo;getting things done&rdquo;</strong> easier to do.</h2>
<p>
  The landscape for issue trackers in 2008 was pretty barren. What was there was complex and clunky. 
  So began my 15-year journey into creating, building, and maintaining <strong>DoneDone</strong>. 
  It's been my career pride and joy.
</p>
<p>
  It would be impossible to distill all of that work into one page 
  (and you don't want to read all that!), so I've left 99% of it on the cutting room floor. 
  Here's just a sampling to show you my design and coding approach.
</p>
<hr>
<h3>Marketing Site 1.0 and...5.0</h3>
<p>
  DoneDone's marketing site has gone through about five major redesigns over the years.
  I created the original site and copy as well as the last one before we sold the company.
</p>
<div class="figure-container">
  <figure>
    <%= link_to image_tag("dd-og-site.png", alt: "A screenshot of the original DoneDone marketing site"), "https://web.archive.org/web/20100927203150/http://www.getdonedone.com/index.aspx", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2009:</strong> The writing focused on what other issue trackers didn't seem to answer...what happens next?</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/wrigley-1941.html", text: "Wayback Machine site" %>
    </figcaption>
  </figure>
    <figure>
    <%= link_to image_tag("dd-2024-site.png", alt: "A screenshot of the 2024 DoneDone marketing site"), "https://web.archive.org/web/20250207070508/https://www.donedone.com/", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2024:</strong> The writing focused on how task tracking and a shared inbox can be an all-in-one work solution.</span>
      <%= render "shared/external_link_button", path: "https://kawaicheung.io/scoreboards/comiskey-1978.html", text: "Wayback Machine site" %>  
    </figcaption>
  </figure>
</div>
<p class="note">
  <strong>Important note:</strong> If you go to <%= link_to "DoneDone.com", "https://www.donedone.com/", target: "_blank" %> now, you'll see a 
  version of the marketing site created by the new owners of the product. That is not my work.
</p>
<hr>
<h3>Making Gmail auto-forwarding a little bit smoother</h3>
<p>
  This includes Hey! as well. (Maybe one day I could pitch this idea for a six-week Shape Up cycle 🤔)
</p>
<hr>
<h3>A Kanban board in 6 weeks</h3>
<hr>
<h3>Re-envisioning the concept of workflows</h3>
<hr>