<% is_mobile = request.user_agent =~ /Mobile|webOS|Android/ %>
<% content_for :title, "DoneDone" %>
<h2>Making <strong>&ldquo;getting things done&rdquo;</strong> easier to do for 15 years.</h2>
<p>
  The landscape for issue trackers in 2008 was pretty barren. What was there was complex and clunky. 
  That's why I began <strong>DoneDone</strong>, a task tracker
  and shared inbox that thousands still use today.
  Here are <%= link_to "over 80 reviews", "https://www.g2.com/products/donedone/reviews", target: "_blank" %>.
</p>
<p>
  I grew and maintained the product for 15 years, from the UI to the database.
  The latest version uses Vue.js on the front-end and .NET on the back-end.
</p>
<p>
  I struggled with what exactly to show you (there's simply too much!) so I'll stick to this script:
  On this page, a high-level assortment of work I've completed within the past few years. 
  On the next one, a deeper dive into one particular feature. 
</p>
<hr>
<h3>Workflow Jobs</h3>
<p>
  One of the largest recent feature additions was adding &ldquo;jobs&rdquo; to our existing status workflows.
  Before this, you could create a series of statuses to apply to a task, but changing the status of a task didn't affect
  who was assigned to it. You'd have to change the assignee manually.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "donedone-no-jobs.webm" %>
    <figcaption>
      <span>
        <strong>No jobs available:</strong> The task detail page prior to adding jobs. Status and assignee changes were separate actions.
      </span>
    </figcaption>
  </figure>
</div>
<p>
  With this new feature, you appoint people to jobs when creating a task. The task is then automatically reassigned to the person 
  appointed to a job when the status changes, creating a more seamless flow of responsibility.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "donedone-jobs-1.webm" %>
    <figcaption>
      <span>
        <strong>I'd like a job:</strong> The bug workflow automatically reassigns a task
        to the &ldquo;Tester&rdquo; when a status is marked &ldquo;Ready for retest&rdquo;.
      </span>
    </figcaption>
  </figure>
</div>
<p>
  With this change, I also needed to augment the workflow manager I designed a year earlier.
  The management interface allows you to add statuses, order, color code, and mark them active or inactive.
  Now you choose which &ldquo;job&rdquo; should be assigned to the task when changed to that status.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "donedone-jobs-b.webp", alt: "Screenshot of the DoneDone workflow management interface." %>
  </figure>
</div>
<p>
  To edit jobs, I added a &ldquo;Manage jobs&rdquo; button which opens a flyout panel. I tried to make the instructions clear without being overly verbose.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "donedone-jobs-c.webp", alt: "Screenshot of the DoneDone workflow management interface." %>
  </figure>
</div>
<p>
  This feature had a ripple effect throughout the app. New database tables to store jobs and the relationships between jobs and statuses,
  long-standing business logic assumptions that had to be broken and reframed, new API endpoints, and so forth. It was one of those
  features that seems deceptively simple at the surface.
</p>
<p>
  While taking on the back-end work along with the front-end design may seem daunting for most, it's a style of creating that 
  I've become accustomed to. To be able to meander across the entire stack helps keep me in a state of flow.
  (That said, as I mention in my cover letter, I'm more than ready to focus on a smaller chunk of the stack!)
</p>
<hr>
<h3>Kanban board</h3>
<p>
  I want to give you a sense of my pace with building things in DoneDone. 
  For years, a feature our customers kept asking for was a Kanban board.
  Here's what the task list view I designed looked like.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "donedone-list.webp", alt: "A screenshot of the task list view in DoneDone" %>
  </figure>
</div>
<p>
  In 2021, we added it to DoneDone. Each column represents the statuses already present in our workflows feature.
  I used Vue's draggable library to allow you to sort and move cards to other status columns. 
  The rest of it was done with plain HTML and CSS.
</p>
<div class="figure-container">
  <figure>
    <%= image_tag "donedone-kanban-2.webp", alt: "A screenshot of the Kanban board in DoneDone" %>
  </figure>
</div>

<p>
  As DoneDone was a two-person team (I did design and dev while my business partner Michael handled marketing and sales),
  we didn't need much process. In fact, most features like Kanban were started from a single DoneDone ticket with a plain English write-up 
  that we would comment on as I iterated design and developed the back-end code.
</p>
<p>
  We were able to get from concept to a smooth release in six weeks (about one Shape Up cycle). I haven't used Shape Up, but 
  after reading through your methodology, it seems like something I would easily adapt to. I'd relish a bit more structure too!
</p>
<hr>
<h3>A tasting flight of UI and UX goodies</h3>
<p>
  Here's a small sampling of other features I've done, small and large, over the past few years.
</p>
<% unless is_mobile %>
<div class="slider-container" data-controller="slider" data-slider-dot-class-value="slider-dot">
  <button class="slider-nav prev" data-action="click->slider#previous"><i class="fa-solid fa-chevron-left"></i></button>
  <div class="slides">
<% end %>
    <div class="figure-container smaller" data-slider-target="slide">
      <figure>
        <%= render "shared/video_figure", video_asset_path_name: "donedone-kanban-1.webm" %>
        <figcaption>
          <span><strong>Preventing accidental closures:</strong> 
          Speaking of the Kanban board, when the "New task" panel is visible, you can click outside of it to close it. However, once
          you've entered content, the panel will stay open.
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="figure-container smaller" data-slider-target="slide">
      <figure>
        <%= render "shared/video_figure", video_asset_path_name: "donedone-filters.webm" %>
        <figcaption>
          <span><strong>Filter finesse:</strong> 
          One of the more intricate features was the filter bar. 
          Debouncing API calls between filter changes, 
          creating smart short cut filters, and
          displaying selected items in a compact, meaningful way
          was a fun challenge.
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="figure-container smaller" data-slider-target="slide">
      <figure>
        <%= render "shared/video_figure", video_asset_path_name: "donedone-pinboard.webm" %>
        <figcaption>
          <span><strong>Pinboard:</strong> 
          At the top of DoneDone is a board that lets you pin any task you want. I gave each task card a rotation of less than a degree to 
          make it feel more natural and imperfect, without getting in the way of readability.
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="figure-container smaller" data-slider-target="slide">
      <figure>
        <%= render "shared/video_figure", video_asset_path_name: "donedone-traffic-cop.webm" %>
        <figcaption>
          <span><strong>Traffic Cop:</strong> 
          When responding to a customer support ticket, the app notifies you if someone just replied to the same ticket since
          you last reviewed its history, to prevent multiple replies.
          </span>
        </figcaption>
      </figure>
    </div>
    <div class="figure-container smaller" data-slider-target="slide">
      <figure>
        <%= render "shared/video_figure", video_asset_path_name: "donedone-pusher.webm" %>
        <figcaption>
          <span><strong>Who's viewing now?</strong> 
          On tasks, I integrated with <%= link_to "Pusher", "https://www.pusher.com", target: "_blank" %> web sockets to allow 
          users to see who else is viewing the task in real-time.
          </span>
        </figcaption>
      </figure>
    </div>
  </div>
<% unless is_mobile %>
  <button class="slider-nav next" data-action="click->slider#next"><i class="fa-solid fa-chevron-right"></i></button>
  <div class="slider-dots" data-slider-target="dots">
  </div>
</div>
<% end %>
<hr>
<h3>Marketing Site 1.0 and 5.0</h3>
<p>
  DoneDone's marketing site has gone through about five major redesigns over the years.
  It just so happens that I created the original site's design as well as the last one, before we sold the company last year.
</p>
<p>
  I also wrote all of the homepage copy. I think my tone for DoneDone has remained 
  pretty consistent over the years while the style has evolved.
</p>
<div class="figure-container">
  <figure>
    <%= link_to image_tag("dd-og-site.webp", alt: "A screenshot of the original DoneDone marketing site"), "https://web.archive.org/web/20100927203150/http://www.getdonedone.com/index.aspx", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2009:</strong> The writing focused on what other issue trackers didn't seem to answer...what happens next?</span>
      <%= render "shared/external_link_button", path: "https://web.archive.org/web/20100927203150/http://www.getdonedone.com/index.aspx", text: "View archived site" %>
    </figcaption>
  </figure>
</div>
<div class="figure-container">
  <figure>
    <%= link_to image_tag("dd-2024-site.webp", alt: "A screenshot of the 2024 DoneDone marketing site"), "https://web.archive.org/web/20250207070508/https://www.donedone.com/", target: "_blank", class: "link-thumbnail" %>
    <figcaption>
      <span><strong>DoneDone, 2024:</strong> The writing focused on how task tracking and a shared inbox can be an all-in-one work solution.</span>
      <%= render "shared/external_link_button", path: "https://web.archive.org/web/20250207070508/https://www.donedone.com/", text: "View archived site" %>  
    </figcaption>
  </figure>
</div>
<p class="note">
  <strong>Important note:</strong> If you go to <%= link_to "DoneDone.com", "https://www.donedone.com/", target: "_blank" %> now, you'll see a 
  version of the marketing site created by the new owners of the product. That is not my work.
</p>
<hr>
<p>
 <strong>DoneDone is my career pride and joy</strong>.
  Even as a two-person team for much of its history, we were able to compete with much bigger products.
  I learned that I could take on and own so much more than what most companies pigeon-hole you into.
</p>