<h2>Making the <strong>code reading</strong> experience a little more delightful.</h2>
<p>
  Over the years of building DoneDone, I kept a list of examples of how I like to name things in code.
  In 2020, decided to create a small web-based book, entitled <strong>Naming Things</strong>, to share them.
</p>
<div class="figure-container two-by-one black">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "naming-things-desktop.webm" %>
  </figure>
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "naming-things-responsive.webm" %>
  </figure>
</div>
 <%= render "shared/external_link_button", path: "https://kawaicheung.io/naming-things", text: "See the webbook here!" %>  
<hr>
<h3>There are <strong>three</strong> hard things about programming</h3>
<p>
  They say there are two hard things about programming: Cache invalidation and naming things. While working 
  on this project, I discovered a third: <strong>Explaining code you've written to someone who hasn't seen it before.</strong>
</p>
<p>
  I've had this problem with physical books and even documentation. Code authors suffer from the &ldquo;curse of knowledge&rdquo;
  just as much as other professionals do. They typically don't explain the entire context of code they've become so familiar with. 
</p>
<p>
  I wanted to make the experience of reading my book a little better. When rolling your mouse over a highlighted bit of text, 
  the relevant code automatically highlights. You can take as long as you need to read the context and the code without getting lost.
</p>
<div class="figure-container">
  <figure>
    <%= render "shared/video_figure", video_asset_path_name: "naming-things-code-highlight.webm" %>
    <figcaption>
      <span><strong>Simple little touches:</strong> Using plain old jQuery and HTML data attributes, I tied
      my explanations of certain code with the code itself. Each highlighted text has a <span class="code">data-code-ref</span>
      attribute whose value maps to code wrapped in<span class="code">&lt;span&gt;</span> tags with the same class name.</span>
    </figcaption>
  </figure>
</div>
<hr>
<h3>Warm and fuzzyness</h3>
<p>
  I am obsessive about the details of how words render on a page: Font styles, weights, letter spacing, line heights, padding
  between different sections and paragraphs. To me, a page that uses negative space well just makes reading words more pleasurable.
</p>
<div class="figure-container smaller">
  <figure>
    <%= image_tag "naming-things-style.png", alt: "Screenshot of layout and style for Naming Things" %>
    <figcaption>
      <span>The space around letters, lines, and paragraphs can make good writing feel even better.</span>
    </figcaption>
  </figure>
</div>
<p>
  For this book, I wanted the content to have a warmth and approachability not typical of most technical books. 
  I loved the playfulness of <%= link_to "Fredericka the Great", "https://fonts.google.com/specimen/Fredericka+the+Great" %>
  for the chapter titles and the inviting nature of <%= link_to "Lora", "https://fonts.google.com/specimen/Lora" %> for the body text.
</p>
<p class="note">
  I ended up repackaging this webbook as <%= link_to "an ebook through Leanpub", "https://leanpub.com/landing-on-a-great-name", target: "_blank" %> 
  under the new title &ldquo;Landing on a Great Name&rdquo;.
</p>
<hr>
<p>
  Next up, I've curated a few of the things I've written, drawn, and spoken about so you have a 
  sense of how I try to communicate ideas.
</p>