<% content_for :title, "Hello!" %>
<h2>Hello 37signals!</h2>
<p>
  This little portfolio site accompanies the resume and cover letter I submitted for the
  role of Web App Product Designer. In case you need a copy of them again, they're right here:
</p>
<div class="assets-container">
  <%= link_to "/files/kawai-cheung-resume-for-37signals.pdf", target: "_blank" do %>
    <span>My resume <i class="fa-solid fa-file-pdf"></i></span>
  <% end %>
  <%= link_to "/files/kawai-cheung-cover-letter-for-37signals.pdf", target: "_blank" do %>
    <span>My cover letter <i class="fa-solid fa-file-pdf"></i></span>
  <% end %>
</div>
<p>
  On the pages to follow, I've curated some of my best work. It should give you a good idea of what I 
  can bring to 37signals. Before I get into that, I wanted to talk about work other people have done that I've admired.
</p>
<hr>
<h3>Work I've admired recently</h3>
<p>
  On the Web, my two most recent favorites are the playful 
  style of <%= link_to "Fly.io", "https://fly.io", target: "_blank" %> and the 
  organizational design of <%= link_to "Bento.me", "https://bento.me", target: "_blank" %>.
</p>
<p>But, to be honest, where I get most of my design inspiration from these days is outside the screen. To name a few things:</p>
<ul>
  <li>
    <strong>I love looking at digital signage when I'm at an airport</strong>. It's the ultimate challenge in good information design 
    with a tough audience looking for a specific detail on the run, usually under duress. Aesthetics 
    can help soothe their stresses as well. 
  </li> 
  <li>
    <strong>I love looking at book cover design too</strong>. The phrase &ldquo;don't judge a book by its cover&rdquo; only exists because we 
    all instinctually judge books by their covers. A wall of books at a bookstore is its own art gallery.
  </li>
  <li>
    <%= link_to "The 1989 Upper Deck series", "https://sports.yahoo.com/what-the-iconic-1989-ken-griffey-jr-upper-deck-card-means-to-a-generation-of-fans-165805988.html", target: "_blank" %>.
    As a baseball card obsessed 10-year-old, the introductory series by Upper Deck opened a door to design for me that's never closed.
    I never thought of cards as art until then. Now I try to see artistry in everything.
  </li>
</ul>
<p>
  Now it's time to show you what I've got.
</p>


