<% content_for :title, "I'd love this role." %>
<h2>Why I'd love this role.</h2>
<p>
  If my career were a Hill Chart, it would look something like this:
</p>
<%= image_tag "my-hill-chart.png", alt: "My career as a Hill Chart", class: "just-an-image" %>
<p>
  For my entire career, I've immersed myself in all aspects of product development. 
  I've never pigeon-holed myself. I've never considered myself strictly a designer or a developer or a writer. 
</p>
<p>
  In my 20s, I did a lot of contract design work using HTML, CSS, and Flash.
</p>
<p>
  At 27, I co-founded a web consulting company called <strong>We Are Mammoth</strong>,
  where I led a development team of a dozen. It was there where I began building an issue tracker called 
  <%= link_to "DoneDone", works_donedone_path %> as a side project, for much the same 
  reason you built Basecamp&mdash;we needed something better for our clients. 
</p>
<p>
  It became my life's work up until now.
</p>
<p>
  Six months ago, my business partner and I sold DoneDone, 
  a product for which I wore <strong>all the design and development hats</strong> 
  for 15 years. 
</p>
<p>
  I needed a break&mdash; not from the work, but from all the things that work meant.
  I'm older. More saavy. Eager to collaborate. I want to work with great people.
</p>
<p>
  This gets me back to my Hill Chart. At 45, I feel like I've uncovered all the unknowns about
  what I love to do. I want to home in. And what's remained a constant is my love to design and build. 
</p>
<p>
  I relish the process of starting from nothing and getting to everything. 
  I love riffing on ideas with someone to get to a better, often surprising place. 
  It's my natural high.
</p>
<p>
  As a product designer at 37signals, I could focus on all the things I love about creating for the Web
  (designing interfaces and experiences while writing beautiful code), within a team of self-managing experts doing all the other hard stuff
  I'm glad I once did but am ready to leave behind.
</p>
<!-- <p class="note"><strong>I'm not just an applicant, I'm a fan:</strong> I’ve followed 37signals since the very beginning. 
  From eNormicom and 37better to Basecamp to Rework to Hey!, 
  you’ve made a huge impact on the way I see design, web-based software, writing, and running a business.
</p> -->
<p class="note">
  <strong>You asked to share what works I admire.</strong> On the Web, my two most recent favorites are the playful 
  style of <%= link_to "Fly.io", "https://fly.io", target: "_blank" %> and the 
  organizational design of <%= link_to "Bento.me", "https://bento.me", target: "_blank" %>. But I'm often inspired
  by things outside the screen that I can take back to it: 
  <%= link_to "Airport signage", "https://www.theshineagency.com/wp-content/uploads/2015/05/shutterstock_25606279-1024x680.jpg", target: "_blank" %>,
  a <%= link_to "good book cover design", "https://m.media-amazon.com/images/I/71PSVpqu3vL._SY522_.jpg", target: "_blank" %>,  
  <%= link_to "1989 Upper Deck baseball cards", "https://sports.yahoo.com/what-the-iconic-1989-ken-griffey-jr-upper-deck-card-means-to-a-generation-of-fans-165805988.html", target: "_blank" %>,
  to name a few.
</p>
<p> 
  With this kind of focus, in this kind of environment, I think I can produce the best work of my career.
</p>
<p>
  So, now it's time to show you what I got.
</p>
