<% content_for :title, "I'd love this role." %>
<h2>Why I'd love this role.</h2>
<p>
  If my career were a Hill Chart, it would look something like this:
</p>
<%= image_tag "my-hill-chart.png", alt: "My career as a Hill Chart", class: "just-an-image" %>
<p>
  Since the beginning, I've immersed myself in all aspects of product development. 
  I think I'm equal parts designer, developer, and writer. 
</p>
<p>
  In my 20s, I did a lot of contract design work using HTML, CSS, and Flash.
  At 27, I co-founded a web consulting company called <strong>We Are Mammoth</strong>,
  where I mainly worked in back-end development, leading a dev team of a dozen.
</p>
<p>
  It was there where, in 2008, I began building an issue tracker called 
  <%= link_to "DoneDone", works_donedone_path %> as a side project, for much the same 
  reason you built Basecamp: we needed something better for our clients. 
  I wore <strong>all</strong> the design and development hats with DoneDone for 15 years.
  It became my life's work up until very recently.
</p>
<p>
  Six months ago, my business partner and I sold DoneDone. This gets me back to my career Hill Chart.
</p>
<p>
  Now, at 45, I want to focus on what I love the most: Designing thoughtful interfaces and experiences while writing beautiful code. 
  I relish the process of starting from nothing and getting to everything. 
  I enjoy riffing ideas with a teammate to get to a better, often surprising place. 
  I love making beautiful things.
  It's my natural high.
</p>
<p>
  I want to work with the best. With a group of doers. With great communicators.
  I've followed and admired the ethos of 37signals since
  the early days of eNormicom and 37better, and it would be the highlight of my career to one day say 
  I helped continue to grow what you've started.
</p>
<p>
  I also cherish long-term relationships. Some of my closest friends are people I've been in the development 
  trenches with. I'd love to forge new ones with the folks at 37signals.
</p>
<p class="note">
  <strong>Design that inspires me.</strong> On the Web, my two most recent favorites are the playful 
  style of <%= link_to "Fly.io", "https://fly.io", target: "_blank" %> and the 
  organizational design of <%= link_to "Bento.me", "https://bento.me", target: "_blank" %>. But I'm often inspired
  by things outside the screen that I can take back to it: 
  <%= link_to "Airport signage", "https://www.theshineagency.com/wp-content/uploads/2015/05/shutterstock_25606279-1024x680.jpg", target: "_blank" %>,
  a <%= link_to "good book cover design", "https://m.media-amazon.com/images/I/71PSVpqu3vL._SY522_.jpg", target: "_blank" %>,  
  <%= link_to "1989 Upper Deck baseball cards", "https://sports.yahoo.com/what-the-iconic-1989-ken-griffey-jr-upper-deck-card-means-to-a-generation-of-fans-165805988.html", target: "_blank" %>,
  to name a few.
</p>
<p> 
  With this kind of focus, in this kind of environment, I think I can produce the best work of my career.
</p>
<p>
  So, now it's time to show you what I got.
</p>
