


<div class="header">
  <div class="header__greeting"><strong>Good morning</strong>, Bethany!</div>
  <%= image_tag "basecamp/icons/basecamp-logo.svg", class: "header__logo" %>
  <div class="header__date"><strong><%= Time.now.strftime("%A") %></strong>, <%= Time.now.strftime("%b %d") %></div>
</div>

<div class="thought">
  <span class="thought__title">
    Today's thought:  <%= link_to "Look back less", "https://world.hey.com/jason/look-back-less-848e9db0", class: "just-a-link", target: "_blank" %>. 
  </span>
  <span class="thought__subtitle">It's a mistake most of the time. And a waste of time almost all of the time.</span>
</div>

<div class="briefcase">
  <div class="briefcase__items">
    <div class="briefcase__heading">
      <span>What's on tap for you</span>
    </div>
    <p>Events, cards, to-dos, projects opening/closing, auto-checkins</p>
    <div class="briefcase__post-it">
      Today
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__post-it">
      <%= Time.now.strftime("%b %d") %>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__post-it">
      Today
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__heading">
      <span>New for you</span>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
  </div>
  <div class="briefcase__items">  
    <div class="briefcase__heading">
      <span class="updated">New for you</span>
    </div>
    <div class="briefcase__item briefcase__item--sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
    <div class="briefcase__item briefcase__item--sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="briefcase">
  <div class="briefcase__items">
    <div class="briefcase__heading">
      <span>New for you</span>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
     <div class="briefcase__heading">
      <span>New for you</span>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
    <div class="briefcase__item">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
  </div>
  <div class="briefcase__items">  
    <div class="briefcase__heading">
      <span>Next 3 days</span>
    </div>
    <div class="briefcase__item briefcase__item--sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
    <div class="briefcase__item briefcase__item--sm">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non, scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue. Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.</p>
    </div>
  </div>
</div>