

<div class="top-nav">
  <div class="logo">
    <%= image_tag "basecamp/icons/basecamp-full-logo.svg", class: "logo__img" %>
  </div>
  <ul class="top-nav__link-items">
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path d="m12.2 21.7 7.4 1.3h.2c.2 0 .3-.1.4-.2l2.2-2.2c.3-.2.3-.8 0-1-.2-.3-.8-.3-1 0l-.3.4 1.6-7.1 1-1.2c.2-.1.3-.3.2-.7-.1-.3-.2-.5-.4-.6-.2-.1-.5 0-.7.2l-.4.4-6.1-9.7c-.2-.3-.8-.5-1.1-.2L9.4 4.6c-.1.1-.2.1-.3.2L1.8 17.4l-.6-1c-.1-.2-.3-.5-.5-.5s-.5.1-.6.3c-.1.4-.1.6 0 .8l1.1 2.2v.1c.1.1.1.2.3.3.1.1.2.1.3.1l5.1.9 2.8-8.8 2.5 9.9ZM10.9 5.6 15.4 3l5.7 9.2-.1.7-1.6 7-6-10.1-2.5-4.2Z" fill="currentColor"></path></svg>
        <span>Home</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path d="M8 6a2 2 0 0 1 2-2h10a2 2 0 1 1 0 4H10a2 2 0 0 1-2-2Zm-6 6a2 2 0 0 1 2-2h10a2 2 0 1 1 0 4H4a2 2 0 0 1-2-2Zm5 4a2 2 0 1 0 0 4h10a2 2 0 1 0 0-4H7Z" fill="currentColor"></path></svg>
        <span>Lineup</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path fill="currentColor" d="M5 3a4 4 0 0 0-4 4v5a4.002 4.002 0 0 0 3 3.874V19a1 1 0 0 0 1.625.78L10.35 16H15a4 4 0 0 0 4-4V7a4 4 0 0 0-4-4H5Z"></path><path fill="currentColor" d="M13 20c-1.32 0-2.49-.639-3.218-1.624l1.095-.876H15a5.5 5.5 0 0 0 5.5-5.5V9.29A4.001 4.001 0 0 1 23 13v3a4.002 4.002 0 0 1-3 3.874V22a1 1 0 0 1-1.6.8L14.667 20H13Z"></path></svg>
        <span>Pings</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M1.013 13.838a.992.992 0 0 0-.013.184V20a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2v-5.976a.99.99 0 0 0-.068-.386L19.42 3.975A3 3 0 0 0 16.599 2H7.401a3 3 0 0 0-2.82 1.975l-3.512 9.66a.992.992 0 0 0-.056.203Zm5.448-9.18A1 1 0 0 1 7.401 4h9.198a1 1 0 0 1 .94.658L20.572 13h-3.851c-.87 0-1.554.546-1.898 1.172C14.403 14.938 13.546 16 12 16s-2.403-1.062-2.823-1.828C8.833 13.546 8.149 13 7.279 13H3.428L6.46 4.658Z" clip-rule="evenodd"></path></svg>
        <span>Hey!</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19.778 19.778l.002-.002C21.77 17.786 23 15.036 23 12c0-6.075-4.925-11-11-11S1 5.925 1 12a10.963 10.963 0 003.316 7.87A10.964 10.964 0 0012 23a10.963 10.963 0 007.778-3.222zM13 3.055v8.53l6.032 6.033A9.001 9.001 0 0013 3.055z" clip-rule="evenodd"></path></svg>
        <span>Activity</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path fill="currentColor" d="M9 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM16.5 9.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM8.589 14.24a1 1 0 0 0-1.301 1.52A7.225 7.225 0 0 0 12 17.5a7.225 7.225 0 0 0 4.712-1.74 1 1 0 1 0-1.3-1.52A5.225 5.225 0 0 1 12 15.5a5.225 5.225 0 0 1-3.411-1.26Z"></path><path fill="currentColor" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1ZM3 12a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" clip-rule="evenodd"></path></svg>
        <span>My Stuff</span>
      </a>
    </li>
    <li class="top-nav__link-item">
      <a href="/" class="top-nav__link">
        <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M11 3a8 8 0 104.852 14.361c1.021 1.214 3.293 3.905 3.744 4.357a1.5 1.5 0 002.121-2.122c-.418-.418-3.135-2.714-4.356-3.743A8 8 0 0011 3zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z" clip-rule="evenodd"></path></svg>
        <span>Find</span>
      </a>
    </li>
  </ul>
  <div class="top-nav__user">
    <span>BW</span>
  </div>
</div>

<div class="header">
  <div class="header__cta-btns">
    <%= link_to "New project", "/", class: "header__cta-btn" %>
    <%= link_to "Invite people", "/", class: "header__cta-btn" %>
  </div>
  <div class="header__greeting">Happy <%= Time.now.strftime("%A") %>, <strong>Bethany!</strong></div>
</div>

<div class="projects" data-controller="basecamp--toggle-projects">
  <div class="projects__btn" data-action="click->basecamp--toggle-projects#toggle">
    <span>Dive into a project</span>
    <i class="fa-solid fa-arrow-trend-down"></i>
  </div>
  <ul class="projects__listing hidden" data-basecamp--toggle-projects-target="listing">
    <li class="project-listing__item project-listing__item--pinned">
      <%= link_to "Q3 Marketing", "/", class: "project-listing__link"  %>
    </li>
    <li class="project-listing__item">
      <%= link_to "Q3 Marketing", "/", class: "project-listing__link"  %>
    </li>
    <li>
      <span class="project-listing__divider">
        Q3 Marketing
      </span>
      <ul>
        <li>
          <%= link_to "Q3 Marketing", "/"  %>
        </li>
        <li>
          <%= link_to "Making a Podcast", "/"  %>
        </li>
          <li>
          <%= link_to "The House", "/", class: "just-a-link" %>
        </li>
        <li>
          <%= link_to "The House", "/", class: "just-a-link" %>
        </li>
      </ul>
    </li>
    
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
    <li>
      <%= link_to "The House", "/", class: "just-a-link" %>
    </li>
  </ul>
</div>

<div class="briefcase">
  <!-- Begin: Stickers -->
  <div class="briefcase__stickers">
    <a href="/" class="briefcase__sticker briefcase__sticker--tasks">
      <div class="briefcase__sticker-badge">
        &checkmark;
      </div>
      <span>
        <i class="fa-solid fa-square-check"></i>
      </span>
    </a>
    <a href="/" class="briefcase__sticker briefcase__sticker--cards"> 
      <div class="briefcase__sticker-badge">
        3
      </div>
      <span>
        <i class="fa-solid fa-table-columns"></i>
      </span>
    </a>
    <a href="/" class="briefcase__sticker briefcase__sticker--events">
      <div class="briefcase__sticker-badge">
        3
      </div>
      <span>
        <i class="fa-solid fa-calendar-day"></i>
      </span>
    </a>
    <a href="/" class="briefcase__sticker briefcase__sticker--check-ins">
      <div class="briefcase__sticker-badge">
        &checkmark;
      </div>
      <span>
        <i class="fa-solid fa-bell"></i>
      </span>
    </a>
    <a href="/" class="briefcase__sticker briefcase__sticker--time">
      <span>
        <i class="fa-solid fa-clock"></i>
      </span>
      <div class="briefcase__sticker-badge">
        4.5h
      </div>
    </a>
    <a href="/" class="briefcase__sticker briefcase__sticker--boosts">
      <div class="briefcase__sticker-badge">
        12
      </div>
      <span>
        <i class="fa-solid fa-rocket"></i>
      </span>
    </a>
  </div>
  <!-- Begin: What's on tap -->
  <div class="briefcase__section">
    <div class="briefcase__heading">
      <span>What's on tap</span>
    </div>
    <p class="briefcase__description">
      Your upcoming <%= link_to "assignments", "/", class: "just-a-link", target: "_blank" %>, <%= link_to "events", "/", class: "just-a-link", target: "_blank" %>, and <%= link_to "check-ins", "/", class: "just-a-link", target: "_blank" %>.
    </p>
    <div class="briefcase__items">
      <div class="briefcase__post-it">
        Up Next &uarr; 
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-list-check"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Get Farmer's Insurance plumbing doc signed</span>
          <p><%= link_to "<strong>Things before moving</strong>".html_safe, "/", class:"just-a-link" %> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
          </p>
        </div>
        <div class="briefcase__task-actions">
          xxxx
        </div>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-table-columns"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Sign up Andrew for basketball camp</span>
          <p>
            <strong>Summer schedules</strong> in <%= link_to "Parenting", "/", class: "just-a-link", target: "_blank" %>
          </p>
        </div>
      </div>
      <div class="briefcase__post-it">
        Today
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-bell"></i>
        </div>
        <div class="briefcase__task-content">
          <span>What did you work on today?</span>
          <p><strong>Starting at 4pm</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
          </p>
        </div>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-calendar-day"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Home the inspector comes</span>
          <p><strong>All day</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
          </p>
        </div>
      </div>
      <div class="briefcase__post-it">
        Tomorrow
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-calendar-day"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Plumbing meeting with city</span>
          <p><strong>9:30am-11am</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
          </p>
        </div>
      </div>
      <div class="briefcase__links">
        <%= link_to "See 8 more things on tap", "/", class: "just-a-link just-a-link--em" %>
        <%= link_to "See 7 overdue assignments", "/", class: "just-a-link just-a-link--em" %>
      </div>
    </div>
    <div class="zero-state">
      <span>Relax! You have nothing on tap. Once you have a to-do, card, or event assigned to you, it'll show up here.<br>
      </span>
    </div>
  </div>
  <!-- End: What's on tap -->
  <div class="briefcase__section briefcase__section--em">
    <!-- Begin: Don't forget -->
    <div class="briefcase__heading">
      <%= image_tag "basecamp/icons/dont-forget.svg", class: "briefcase__heading-icon" %>
      <span>Don't forget</span>
    </div>
    <div class="briefcase__items briefcase__items--scrollable">
      <div class="briefcase__task briefcase__task--reminder">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-comments"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Chat: Q2 Marketing Ideas</span>
          <p>Michael Sanders &bull; <%= Time.now.yesterday.strftime("%a %b %d") %>
          </p>
        </div>
      </div>
      <div class="briefcase__task briefcase__task--reminder">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-comments"></i>
        </div>
        <div class="briefcase__task-content">
          <span>@mentioned you in: What's going on with the marketing thing?</span>
          <p>Lindsay Sanders &bull; <%= Time.now.yesterday.strftime("%a %b %d") %>
          </p>
        </div>
      </div>
      <div class="briefcase__task  briefcase__task--reminder">
        <div class="briefcase__task-icon">
          <i class="fa-solid fa-wave-square"></i>
        </div>
        <div class="briefcase__task-content">
          <span>Hill Chart: Progress Update</span>
          <p>Craig Bryant &bull; <%= 2.days.ago.strftime("%a %b %d") %>
          </p>
        </div>
      </div>
    </div>
    <div class="zero-state zero-state--dont-forget">
      <span>You haven't marked anything to remember currently.<br>
      <%= link_to "What's this?", "/", class: "just-a-link" %>
      </span>
    </div>
    <!-- End: Don't forget -->
  </div>
</div>


<div class="thought">
  <button class="thought__close">×</button>
  <span class="thought__title">
    Today's thought:  <%= link_to "Look back less", "https://world.hey.com/jason/look-back-less-848e9db0", class: "just-a-link", target: "_blank" %>. 
  </span>
  <span class="thought__subtitle">It's a mistake most of the time. And a waste of time almost all of the time.</span>
</div>

<div class="divider"></div>


<div class="remote-control">
  <%= link_to "Zero states", "/", class: "remote-control__link" %>
  <%= link_to "Beginning of day", "/", class: "remote-control__link" %>
  <%= link_to "End of day", "/", class: "remote-control__link" %>
  <%= link_to "Alternative EOD", "/", class: "remote-control__link" %>
</div>
