


<div class="header">
  <div class="header__greeting"><strong>Good afternoon</strong>, Bethany!</div>
  <%= image_tag "basecamp/icons/basecamp-logo.svg", class: "header__logo" %>
  <div class="header__date"><strong><%= Time.now.strftime("%A") %></strong>, <%= Time.now.strftime("%b %d") %></div>
</div>

<div class="thought">
  <button class="thought__close">×</button>
  <span class="thought__title">
    Today's thought:  <%= link_to "Look back less", "https://world.hey.com/jason/look-back-less-848e9db0", class: "just-a-link", target: "_blank" %>. 
  </span>
  <span class="thought__subtitle">It's a mistake most of the time. And a waste of time almost all of the time.</span>
</div>

<div class="briefcase">
  <!-- Begin: What's on tap -->
  <div class="briefcase__items">
    <div class="briefcase__heading">
      <span>What's on tap</span>
    </div>
    <p class="briefcase__description">
      Your upcoming assignments, events, and check-ins.
    </p>
    <div class="briefcase__post-it">
      Today
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p><%= link_to "<strong>Things before moving</strong>".html_safe, "/", class:"just-a-link" %> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
        </p>
      </div>
      <div class="briefcase__task-actions">
        xxxx
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Sign up Andrew for basketball camp</span>
        <p>
          <strong>Summer schedules</strong> in <%= link_to "Parenting", "/", class: "just-a-link", target: "_blank" %>
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-calendar-day"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Home the inspector comes</span>
        <p><strong>All day</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-calendar-day"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Plumbing meeting with city</span>
        <p><strong>9:30am-11am</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-bell"></i>
      </div>
      <div class="briefcase__task-content">
        <span>What did you work on today?</span>
        <p><strong>Starting at 4pm</strong> in <%= link_to "The House", "/", class: "just-a-link", target: "_blank" %>
        </p>
      </div>
    </div>
    <div class="briefcase__post-it">
      Tomorrow
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-table-columns"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__task">
      <div class="briefcase__task-icon">
        <i class="fa-solid fa-table-columns"></i>
      </div>
      <div class="briefcase__task-content">
        <span>Get Farmer's Insurance plumbing doc signed</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
          Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
           scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
           iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
            Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
        </p>
      </div>
    </div>
    <div class="briefcase__links">
      <%= link_to "See 8 more things on tap", "/", class: "just-a-link just-a-link--em" %>
    </div>
  </div>
  <!-- End: What's on tap -->
  <div>
    <div class="accomplishments hidden">
      <div class="accomplishments__heading">
        <span>Accomplishments</span>
      </div>
    </div>
    <!-- Begin: Don't forget -->
    <div class="briefcase__items">
      <div class="briefcase__heading">
        <span>Don't forget</span>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
        </div>
        <div class="briefcase__task-content">
          <span>Get Farmer's Insurance plumbing doc signed</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
            Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
            scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
            iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
              Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
          </p>
        </div>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
        </div>
        <div class="briefcase__task-content">
          <span>Get Farmer's Insurance plumbing doc signed</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
            Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
            scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
            iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
              Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
          </p>
        </div>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
        </div>
        <div class="briefcase__task-content">
          <span>Get Farmer's Insurance plumbing doc signed</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
            Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
            scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
            iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
              Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
          </p>
        </div>
      </div>
      <div class="briefcase__task">
        <div class="briefcase__task-icon">
        </div>
        <div class="briefcase__task-content">
          <span>Get Farmer's Insurance plumbing doc signed</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec turpis et arcu accumsan efficitur at ac est. 
            Aliquam eu dolor at nibh pharetra commodo. Curabitur magna turpis, sollicitudin vitae varius non,
            scelerisque et turpis. Pellentesque bibendum diam ut lectus rhoncus vehicula. Nulla nisl eros, 
            iaculis a magna vel, posuere rhoncus turpis. Praesent lorem nibh, elementum a sapien eu, tincidunt dapibus augue.
              Quisque faucibus blandit elit, non semper dui viverra sed. Donec congue porttitor nulla.
          </p>
        </div>
      </div>
    </div>
    <!-- End: Don't forget -->
  </div>
</div>

<div class="divider"></div>

<div class="briefcase">
  sdasdf
</div>