
<!-- Top bar -->
<div class="top-bar">
  <%= image_tag "basecamp/icons/basecamp-full-logo.svg", class: "top-bar__logo" %>
  <nav class="top-bar__nav">
    <ul>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path d="m12.2 21.7 7.4 1.3h.2c.2 0 .3-.1.4-.2l2.2-2.2c.3-.2.3-.8 0-1-.2-.3-.8-.3-1 0l-.3.4 1.6-7.1 1-1.2c.2-.1.3-.3.2-.7-.1-.3-.2-.5-.4-.6-.2-.1-.5 0-.7.2l-.4.4-6.1-9.7c-.2-.3-.8-.5-1.1-.2L9.4 4.6c-.1.1-.2.1-.3.2L1.8 17.4l-.6-1c-.1-.2-.3-.5-.5-.5s-.5.1-.6.3c-.1.4-.1.6 0 .8l1.1 2.2v.1c.1.1.1.2.3.3.1.1.2.1.3.1l5.1.9 2.8-8.8 2.5 9.9ZM10.9 5.6 15.4 3l5.7 9.2-.1.7-1.6 7-6-10.1-2.5-4.2Z" fill="currentColor"></path></svg>
          <span>Home</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path d="M8 6a2 2 0 0 1 2-2h10a2 2 0 1 1 0 4H10a2 2 0 0 1-2-2Zm-6 6a2 2 0 0 1 2-2h10a2 2 0 1 1 0 4H4a2 2 0 0 1-2-2Zm5 4a2 2 0 1 0 0 4h10a2 2 0 1 0 0-4H7Z" fill="currentColor"></path></svg>
          <span>Lineup</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path fill="currentColor" d="M5 3a4 4 0 0 0-4 4v5a4.002 4.002 0 0 0 3 3.874V19a1 1 0 0 0 1.625.78L10.35 16H15a4 4 0 0 0 4-4V7a4 4 0 0 0-4-4H5Z"></path><path fill="currentColor" d="M13 20c-1.32 0-2.49-.639-3.218-1.624l1.095-.876H15a5.5 5.5 0 0 0 5.5-5.5V9.29A4.001 4.001 0 0 1 23 13v3a4.002 4.002 0 0 1-3 3.874V22a1 1 0 0 1-1.6.8L14.667 20H13Z"></path></svg>
          <span>Pings</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M1.013 13.838a.992.992 0 0 0-.013.184V20a2 2 0 0 0 2 2h18a2 2 0 0 0 2-2v-5.976a.99.99 0 0 0-.068-.386L19.42 3.975A3 3 0 0 0 16.599 2H7.401a3 3 0 0 0-2.82 1.975l-3.512 9.66a.992.992 0 0 0-.056.203Zm5.448-9.18A1 1 0 0 1 7.401 4h9.198a1 1 0 0 1 .94.658L20.572 13h-3.851c-.87 0-1.554.546-1.898 1.172C14.403 14.938 13.546 16 12 16s-2.403-1.062-2.823-1.828C8.833 13.546 8.149 13 7.279 13H3.428L6.46 4.658Z" clip-rule="evenodd"></path></svg>
          <span>Hey!</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19.778 19.778l.002-.002C21.77 17.786 23 15.036 23 12c0-6.075-4.925-11-11-11S1 5.925 1 12a10.963 10.963 0 003.316 7.87A10.964 10.964 0 0012 23a10.963 10.963 0 007.778-3.222zM13 3.055v8.53l6.032 6.033A9.001 9.001 0 0013 3.055z" clip-rule="evenodd"></path></svg>
          <span>Activity</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path fill="currentColor" d="M9 11a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM16.5 9.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM8.589 14.24a1 1 0 0 0-1.301 1.52A7.225 7.225 0 0 0 12 17.5a7.225 7.225 0 0 0 4.712-1.74 1 1 0 1 0-1.3-1.52A5.225 5.225 0 0 1 12 15.5a5.225 5.225 0 0 1-3.411-1.26Z"></path><path fill="currentColor" fill-rule="evenodd" d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1ZM3 12a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" clip-rule="evenodd"></path></svg>
          <span>My Stuff</span>
        </a>
      </li>
      <li class="top-bar__nav-item">
        <a href="" class="top-bar__link">
          <svg viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M11 3a8 8 0 104.852 14.361c1.021 1.214 3.293 3.905 3.744 4.357a1.5 1.5 0 002.121-2.122c-.418-.418-3.135-2.714-4.356-3.743A8 8 0 0011 3zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z" clip-rule="evenodd"></path></svg>
          <span>Find</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="top-bar__user">
    <span>BW</span>
  </div>
</div>

<!-- Header -->
<div class="header">
  <span class="header__date"><%= Time.now.strftime("%A, %b") %> <%= Time.now.day.ordinalize %></span>
  <span class="header__greeting">Happy <%= Time.now.strftime("%A") %>, <strong><%= @first_name%>!</strong></span>
  <div class="header__links">
    <%= link_to "New...", "", class: "btn btn--cta" %>
    <%= link_to "Manage...", "", class: "btn btn--white" %>
  </div>
</div>

<!-- Combo Board -->
<div class="combo-board__container">
  <div class="combo-board">
    <div class="whiteboard">
      <div class="briefcase__heading">
        <span>What's on tap</span>
      </div>
      <div class="briefcase__items">
        <% if @on_tap_items.blank? %>
          <div class="zero-state">
            <span><strong>Time to relax!</strong> You have nothing on tap. Once you have a to-do, card, or event assigned to you, it'll show up here.<br>
            </span>
          </div>
        <% else %>
          <p class="briefcase__description">
            Your upcoming <%= link_to "assignments", "", class: "just-a-link", target: "_blank" %>, <%= link_to "events", "", class: "just-a-link", target: "_blank" %>, and <%= link_to "check-ins", "", class: "just-a-link", target: "_blank" %>.
          </p>
          <% @on_tap_items&.each do |group| %>
            <div class="briefcase__post-it">
              <%= group[:title] %> <%= "&uarr;".html_safe if group[:title] == "Up Next" %>
            </div>
          <% group[:items].each do |item| %>
            <div class="briefcase__task">
              <div class="briefcase__task-icon">
                <i class="fa-solid <%= item[:icon] %>"></i>
              </div>
              <div class="briefcase__task-content">
                <span><%= item[:title] %></span>
                <p>
                  <%= link_to "<strong>#{item[:topic]}</strong>".html_safe, item[:topic_link], class: "just-a-link" %> 
                  in 
                  <%= link_to item[:project], item[:project_link], class: "just-a-link", target: "_blank" %>
                </p>
              </div>
              <div class="briefcase__task-actions">
                <% if item[:type] == "task" %>
                  <label class="custom-checkbox">
                    <input type="checkbox" class="custom-checkbox__input" />
                    <span class="custom-checkbox__checkmark"></span>
                  </label>
                <% elsif item[:type] == "card" %>
                  <select class="custom-select">
                    <option value="1">Triage</option>
                    <option value="2">Figuring it out</option>
                    <option value="3">In progress</option>
                    <option value="4">Done</option>
                    <option value="5">Not now</option>
                  </select>
                <% end %>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
        <% if @more_items_count&.positive? || @overdue_count&.positive? %>
          <div class="briefcase__links">
            <% if @more_items_count&.positive? %>
              <%= link_to "See #{pluralize(@more_items_count, "more thing")} on tap &darr;".html_safe, "", class: "btn btn--clear" %>
            <% end %>
            <% if @overdue_count&.positive? %>
              <%= link_to "See #{pluralize(@overdue_count, "overdue assignment")}", "", class: "just-a-link just-a-link--em just-a-link--sm" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="corkboard">
      <% if @briefcase_stats.stickers.any? { |_, sticker| sticker[:count] > 0 } %>
      <!-- Stickers -->
      <div class="corkboard__stickers">
        <% @briefcase_stats.stickers.each do |key, sticker| %>
          <% sticker[:count].to_i.times do %>
            <% random_y = (rand * 10 - 2).round(1) %>
            <% random_x = (rand * 10 - 2).round(1) %>
            <% random_scale = (rand * 0.5 + 0.75).round(1) %>
            <% random_rotate = (rand * 20 - 5).round(1) %>
            <a href="" class="corkboard__sticker corkboard__sticker--<%= sticker[:style] %>" 
            style="transform: 
            translateY(<%= random_y %>px) 
            translateX(<%= random_x %>px) 
            scale(<%= random_scale %>) 
            rotate(<%= random_rotate %>deg)">
              <span>
                <i class="fa-solid <%= sticker[:icon] %>"></i>
              </span>
            </a>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <!--<div class="thought pinned">
        <div class="thought__title">Appetites instead of estimates</div>
        <div class="thought__subtitle">The problem with software estimates is that they're both entirely right and entirely wrong.</div>
        <%= image_tag "basecamp/jason-fried.png", class: "thought__avatar" %>
      </div>-->
    </div>
  </div>
</div>